
$bg-primary: #47b804;
$accent-color: #151933;
$accent-light-color: #e7ece9;

.green {
  color: #47b804; }
// :: COLORS
$pri-color: #47b804;
$pri-color-alt: #fafff7;;
$pri-color-darken: darken($pri-color,10%);
.green {color: $pri-color}

// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 766px;

//:: GENERAL CUSTOMIZATIONS
a {
  color: $pri-color;
  &:hover {color: $pri-color-darken;}
  text-decoration: none !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //:: TYPOGRAPHY
  h1,h2,h3,h4,h5,h6,p, .nav-link, a {
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 25px;
    line-height: 35px;

    &.heading {
      font-weight: 700;
    }
  }
  h3 {
    font-size: 18px;
    line-height: 35px;
  }
  h4 {
    font-size: 16px;
    line-height: 32px;
  }
  h5 {
    font-size: 12px;
    line-height: 22px;
  }
  h6 {
    font-size: 10px;
    line-height: 20px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }

  .sec-title {
    font-weight: 700;
    border-left: 5px solid $pri-color;
    padding-left: 20px;
    margin: 3rem 0;
  }
}

//:REMOVES the ugly glow on bootstrap button focus
.btn:focus, .a:focus, button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;

  outline: none;
}

//:REMOVES the ugly glow on bootstrap input click
textarea:focus,
select,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.custom-select,
.uneditable-input:focus {
  outline: 0 !important;
}

//:: COMPONENTS
.trip-card {
  color: #000000;
  border-radius: 0;
  border: 1px solid #eaeaea;

  width: 348px;

  .card-img-top {border-radius: 0;}

  .card-body {
    padding: 0 1.25rem;
  }
  h4 {
    margin-bottom: -5px;
  }
  h5 {
    opacity: 0.5;
    margin-bottom: 0;
  }
  .left,.right {
    padding: 1rem;
  }
  .left {
    border-right: 1px solid #eaeaea;
  }
  .bottom {
    border-top: 1px solid #eaeaea;
    padding: 10px 15px;

    .price {margin-bottom: 0; font-weight: 600;}

    a {
      right: 15px;
      position: absolute;
      top: 15px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.icon-text {
  //width: 65%;
  h4 {font-weight: 600;margin-bottom: -3px}
  h5 {margin-bottom: 3px;line-height: 19px;}
  a {font-size: 10px; font-weight: 600; margin-top: -5px;}
}
.pri-btn {
  background: $pri-color;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;

  padding: 10px 20px;
  border-radius: 0;

  transition: .3s all linear;

  &:hover {
    background: $pri-color-darken;
    color: #ffffff;
  }
}

#trip-search-group {
  .nav-pills {
    align-items: flex-end;
    .nav-link {
      width: 168px;
      padding: 12px 40px;
      text-align: center;
      background: #eaeaea;
      border-radius: 0;

      color: rgba(0, 0, 0, .5);
      font-size: 14px;
      font-weight: 600;

      transition: all .3s linear;

      &.active {
        padding: 18px 20px;
        color: $pri-color;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;

        width: 180px;

        background: #ffffff;
        box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.29);
      }
    }
  }

  .tab-content {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: -10px;

    min-height: 72px;
  }

  .inner {
    padding: 15px 0;

    .nav-pills {
      align-items: center;
      border-right: 1px solid #eaeaea;

      .nav-link {
        width: 112px;
        padding: 10px 0;

        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;

        transition: all .3s linear;

        &.active {
          padding: 10px 0;
          font-size: 11px;
          font-weight: 700;

          width: 112px;

          background: $pri-color;
          color: #ffffff;
          box-shadow: none;
        }
      }
    }
    .tab-content {
      margin-top: 0;
    }
  }

  form {
    align-items: center;
    display: flex;

    padding: 0;
    margin: 0 -25px;

    img {
      width: 13px;
      margin-top: 2px !important;
      opacity: 0.4;
    }

    .input-group {
      border-right: 1px solid #eaeaea;
      margin-right: 5px;

      &:last-child {
        border: none;
      }

      .input-group-prepend {
        margin-right: 0;

        .input-group-text {
          background: #ffffff;
          text-align: left;
          border: 0;

          padding-left: 0;
          min-width: 150px;
          font-size: 14px;
        }
      }
      .custom-select {
        border: 0;
        text-align: left;
        padding-left: 0;

        border-top: 1px solid #eaeaea;
        font-weight: 600;
        color: #000000;
        font-size: 14px;
      }
    }
  }

  #one-way-trip {
    form {
      .input-group .input-group-prepend .input-group-text {
        min-width: 200px;
      }
    }
  }

  #check-ticket {
    padding: 15px;
    min-height: 102px;

    .inner {
      padding: 15px;
      margin: 0 15px;
    }

    form {
      .input-group .input-group-prepend .input-group-text {
        //background: #eaeaea;
        //text-align: left;
        //border: 0;
        padding-left: .75rem;
        min-width: auto;
        font-size: 14px;
        font-weight: 600;

        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        margin-right: -1px;
      }
      .input-group .input-group-prepend .input-group-text, input {
        padding: 11px 25px;
        height: auto;
        border-radius: 0;
        border-color: #eaeaea;
      }
    }


  }
}

//:: SECTIONS
header {
  padding: 2rem;
  .navbar-nav {
    margin-left: 1rem;
  }
  .nav-item {
    .nav-link {
      color: #ffffff;
      font-size: 15px;
      margin: 0 .2rem;
    }

    &.active .nav-link {
      //border-bottom: 2px solid $pri-color;
    }
  }

  .bordered-btn, .pri-btn {
    border: solid 1px #ffffff;
    color: #ffff;
    font-size: 13px;
    font-weight: 600;

    text-transform: uppercase;
    padding: 10px 24px;
    text-align: center;
    transition: all .3s ease-in-out;

    &:hover {
      background: $pri-color;
      border: solid 1px $pri-color;
    }
  }

  .pri-btn {
    background: $pri-color;
    border: $pri-color;

    &:hover {
      background: $pri-color-darken;
    }
  }


}

.hero {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.43) 26%, #000000),
  url(../../assets/hero@3x.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #ffffff;

  .hero-content {
    padding: 2rem;
    margin: 2rem;
  }
}

.popular-trips {
  padding: 5rem 0;
  overflow: hidden;
  background: white;

  .horizontal-scroll {
    width: 100vw;
    overflow-y: scroll;
    display: flex;

    .trip-card {
      display: inline-block;
      margin-right: 25px;
      margin-bottom: 50px;

      min-width: 348px;

      &.empty {
        border: none;
      }
    }
  }
}

.features {
  background-color: $pri-color-alt;
  border-top: 1px solid $pri-color;
  padding: 7rem 0;

  .top {
    text-align: center;
  }

  .brand-fleets {
    margin-top: 5rem;
  }
}

.bus-routes {
  background-color: #222222;
  padding: 6rem 0 8rem;
  color: #ffffff;
  position: relative;

  .thumbnail {
    background: url("../../assets/bus-routes@2x.jpg") center no-repeat;
    background-size: cover;
    width: 437px;
    height: 661px;

    position: absolute;
    top: -10rem;
    left: 0;
  }

  .heading {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 1rem;
    margin: 1rem 0 3rem;
  }

  h3 {
    font-weight: 600;
    margin: 0;
  }

  .link-area {
    margin-top: 1rem;

    a {
      margin: 6px 0;
      display: block;
    }
  }


}

footer {
  background: #ffffff;
  padding: 6rem 0 0;

  .col, .col-12 {
    margin: 1rem 0;
  }

  .heading {
    font-weight: 700;
    margin-bottom: 0;
  }

  a {
    color: #000000;
    font-size: 14px;
    display: block;
    padding: 2px 0;
  }

  .social-links {
    a {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  .copyright {
    border-top: 1px solid #eaeaea;
    margin-top: 3rem;
    text-align: center;
  }
}

@media (max-width: $breakpoint-tablet)  {
  .popular-trips .horizontal-scroll .trip-card {
    min-width: 320px;
  }
  .popular-trips .horizontal-scroll .trip-card.empty {
    min-width: 50px;
  }
  .bus-routes {
    .thumbnail {
      width: 100%;
      position: relative;
    }
    .bottom {
      margin-top: -6rem;
    }
  }

  .hero {
    overflow: hidden;
  }

  #trip-search-group {
    .inner {
      padding: 15px;

      .tab-content {
        margin-left: 10px;
      }
    }

    form {
      display: contents;

      .input-group {
        border: 1px solid #eaeaea;
        padding: 10px 1rem;
        margin-bottom: 9px;

        margin-right: 5px;
        width: 48%;
        display: inline-flex;

        button {
          margin-left: -15px;
          width: 100%;
        }

        .input-group-prepend .input-group-text {
          min-width: 200px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile)  {

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
  }

  body h1 {
    font-size: 40px;
    line-height: 50px;
  }

  header {
    padding: 1rem 0;

    .navbar {
      overflow: hidden;

      .navbar-collapse {
        background: #000000;
        padding: 50px;
        height: 90vh;
        margin: 0 -30px;
      }

      .navbar-nav {
        margin-left: 0;
        margin-bottom: 2rem;
      }

      .nav-item .nav-link {
        font-size: 18px;
        margin-bottom: 10px;
      }

    }

    .bordered-btn, .pri-btn {
      margin-right: 0 !important;
      margin-bottom: 1rem;
      padding: 16px 24px;
    }
  }

  .hero {
    //overflow: hidden;
    overflow: inherit;
    position: relative;

    height: auto;
  }

  #trip-search-group {
    //position: absolute;
    width: 100%;
    //top: 0;
    //left: 0;
    //margin: 0 18px;
    overflow: hidden;
    height: auto;

    .nav-pills .nav-link.active {
      width: 150px;
    }

    .inner {
      .nav-pills .nav-link, .nav-pills .nav-link.active {
        width: 100%;
        padding: 12px 0;
        font-size: 14px;
      }
      .nav-pills {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }

    form {
      .input-group {
        margin: 6px -9px;
        width: 100%;
        overflow: hidden;

        .input-group-prepend {
          overflow: hidden;

          .input-group-text {
            min-width: 100vw !important;
          }
        }

        .custom-select {
          padding: 15px 0 8px 10px;
          margin-top: 10px;
          height: 100%;
          font-size: 16px;
        }

        button {
          margin-left: 0;
          padding: 14px 20px;
          font-size: 15px;
        }

      }
    }

    #check-ticket {
      form .input-group {
        border: 0;
        padding: 0;
      }
    }
  }

  .hero .hero-content {
    padding: 1rem;
    margin: 1rem;

    br {display: none}

    h1 {
      font-size: 34px;
      line-height: 44px;
    }

    h2 {
      font-size: 20px;
      line-height: 30px;
      margin-top: 1rem;
    }
  }

  .popular-trips .horizontal-scroll .trip-card {
    min-width: 310px;
    margin-right: 20px;
  }

  .popular-trips .horizontal-scroll .trip-card.empty {
    min-width: 20px;
  }

  .features, .bus-routes {overflow: hidden}

  .features {

    .icon-text {
      padding-bottom: 1.5rem;
    }

    .top {
      padding: 0 30px;
    }

    .inner {
      justify-content: center;
      display: flex;
    }
  }

  .bus-routes {
    .thumbnail {position: relative; text-align: center;height: 660px;width: 100%;}

    .bottom {
      margin-top: -7rem;
    }
  }

  footer {
    .left {
      width: 100% !important;
    }
  }
.down-arrow{
  color: #47b804 !important;
}
.back-to-search{
  color: #47b804 !important;
}
.btn-link{
  color: #47b804 !important;
}
.booked.seat{
  color: #47b804 !important;
}

.about {
  padding-top: 40px !important;
  h1 {
    color: $bg-primary !important;
  }
  p {
    font-size: 20px !important;
    margin-bottom: 30px !important;
  }
  .border-info {
    color: $bg-primary !important;
  }
}
.section-title {
  padding: 20px;
  color: white;
  background-color: $bg-primary;
  .title {
    font-weight: 500;
    margin: auto 0;
  }
}
.main-section {
  min-height: 100vh - 20;
}
/*# sourceMappingURL=styles.css.map */


}
