<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-md-5 mb-5">
                <div class="left w-75">
                    <img class="img-fluid w-auto mb-3" style="height:40px;" src="assets/logo@2x.jpg" alt="logo">
                    <p>Access Transit Transport is well known for its regularly scheduled passenger service,
                        the company also provides a number of other services for its customers such as value-priced
                        same-day and early-next-day haulage and package delivery to numerous destinations in Nigeria.
                    </p>
                    <div class="social-links">
                        <a href="#"><img src="assets/icons/facebook.svg" alt="facebook icon"></a>
                        <a href="#"><img src="assets/icons/twitter.svg" alt="twitter icon"></a>
                        <a href="#"><img src="assets/icons/instagram.svg" alt="instagram icon"></a>
                        <a href="#"><img src="assets/icons/youtube.svg" alt="youtube icon"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col">
                        <p class="heading">About</p>
                        <a href="#">About Us</a>
                        <a href="#">NYSC Camps</a>
                        <a href="#">Terminals</a>
                    </div>
                    <div class="col">
                        <p class="heading">Booking</p>
                        <a href="#">Book a Bus</a>
                        <a href="#">Freight Services</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="col-md col-12">
                        <p class="heading">Contact</p>
                        <a href="#">+234 703 203 0515</a>
                        <a href="#">+234 703 203 0605</a>
                        <a href="#">+234 703 203 1008</a>
                    </div>

                    <div class="col-12">
                        <p class="heading">Address</p>
                        <p>Km 14 Lekki-Epe Expressway Ikota<br>School Bus Stop, Lagos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-12">
                <h5>© Copyright Access Transit Limited (ATL Motors) 2019  -  All rights reserved  |  Powered by <span><a class="font-weight-bold d-inline" href="#">Voomsway</a></span></h5>
            </div>
        </div>
    </div>
</footer>