<header>
  <div class="container">
<<<<<<< HEAD
    <nav class="navbar navbar-expand-lg">
=======
    <nav class="navbar navbar-expand-lg navbar-light">
>>>>>>> a04f2880917bc7067abba2652238961823ffb1da
      <a class="navbar-brand" href="/"
        ><img
          src="/assets/logo.jpg"
          srcset="/assets/logo@2x.jpg 2x"
          alt="ALT Motors logo"
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <img src="assets/icons/menu.svg" alt="menu icon" />
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vway/trips">Book Trips</a>
          </li>
<<<<<<< HEAD
          <li class="nav-item">
            <a class="nav-link" href="/terminals">Terminals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>

        <a class="nav-link bordered-btn mr-3" href="#">Create Account</a>
        <a class="nav-link pri-btn" href="#">Sign In</a>
=======
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="/terminals">Terminals</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="/about">About</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="/contact">Contact</a>-->
          <!--</li>-->
        </ul>

        <a class="nav-link bordered-btn mr-3" href="/vway/register">Create Account</a>
        <a class="nav-link pri-btn" href="/vway/login">Sign In</a>
>>>>>>> a04f2880917bc7067abba2652238961823ffb1da
      </div>
    </nav>
  </div>
</header>
