<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!--<link rel="stylesheet" media="screen" href="https://unpkg.com/voomsway@latest/voomsway.css">-->
    <link rel="stylesheet" media="screen" href="/styles/voomsway.css">
    <link rel="stylesheet" href='/css/styles.css'/>
    <link rel="stylesheet" href='/css/override.css'/>
    <link href="/assets/favicon.png" type="image/x-icon" rel="shortcut icon"/>
    <title>ATL Motors - Access Transit Limited | Book Bus Trip Online</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93215177-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-93215177-2');
    </script>

</head>
<body>
<% include partials/navbar.ejs %>
<section class="main-section">
    <div class="container-fluid section-title">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1 class="title">ABOUT US</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row about">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1>WHO WE ARE</h1>
                <p>Access Transit Limited was established out of a combined experience <br> of more than 10
                    years in transportation of Goods and people. We believe <br> in the comfort of Our clients and our
                    knowledge in transportation business has <br> helped us in delivering optimal solution for our
                    customers</p>
                <h3>Access Transit Limited Mission Statement</h3>
                <p class="mt-3 text-center">Our team's passion for Transportation powers our global
                    transport platform. <br>Traveling round Nigeria can be seamless and efficient giving our customers
                    added <br> productivity, cost-saving and the highest level of transportation compliance</p>
            </div>
        </div>
    </div>
</section>

<% include partials/footer.ejs %>

</body>


</html>
